@font-face {
  font-family: JABEFont;
  src: url('Helvetica-Neue-LT-Std-35-Thin.woff');
}
html,body{
	height: auto !important;
}
body {
	background-color: rgb(4,0,0);
	color: white;
	font-family: JABEFONT;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	max-width: 1300px;
	min-height: 2300px;
	margin: 0 auto;
	padding: 30px;
	letter-spacing: 0.15em;
	line-height: 2;
	cursor: default;
}

.copper{
	color: #c7b39e;
}
.less_spaced_letters{
	letter-spacing: 0.4em;
	margin-right: -0.4em !important;
	overflow-x: hidden;
}
.spaced_letters{
	letter-spacing: 0.8em;
	margin-right: -0.8em !important;
	overflow-x: hidden;
}
.hidden{
	display: none !important;
}
a {
	outline: none;
}
.unvisible {
	max-height: 0 !important;
}
.no_bottom_margin {
	margin-bottom: 0 !important;
}
header, a.logo_container{
	display: flex;;
	flex-direction: row;
	justify-content: space-between;
	padding: 25px 0;
	width: 100%;
}

header{
	padding: 0 0 25px 0;
	font-size: 1.25em;
}
header a {
	text-decoration: none;
}

/* Quandoo Button Start */
header div.quandoo-widget-builder {
	text-decoration: none;
	font-size: 1em;
}
header div span.quandoo-button.quandoo-button-text.quandoo-round-border.quandoo-md{
	border-radius: 0;
	padding: 0;
	box-shadow: none;
	font-size: 1em;
	display: block;
}
/* Quandoo Button End */

nav.nav_menu_container {
	align-self: flex-start;
	display: flex;
	margin: 30px 0 0;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	cursor: pointer;
}
.menu_toggle{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 80%;
	max-height: 53px;
	overflow: hidden;
	transition: max-height 0.4s ease-in;
}
.menu_toggle.next_row{
	width: 100%;
	max-height: 316.8px;
}

a.link, span.link{
	font-size: 1.1em;
	line-height: 3;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}
a.link.special {
	min-width: 140px;
}
.menu_toggle.next_row a.link{
	width: 100%;
	text-align: left;
}
.underline:hover {
	text-decoration: underline;
}
span.input {
	width: 100%;
	display: block;
}
.input{
	font-size: 0.8em;
}
.small{
	font-size: 0.7em;
}

/* menu icon START */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 1.44em;
  align-self: flex-start;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 2px;
  background-color: #c7b39e;
  margin: 5px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-25deg) translate(-8px, 10px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(25deg) translate(-8px, -8px) ;
}

.menu span {
	margin: 0.3em 0 0 0;
}
/* menu icon END */

.logo {
	padding: 0;
	flex: 1;
	text-align: center;
}

.logo img {
	max-width: 100%;
}

.upper_content {
	margin: 100px 0;
}
h1.upper_content{
	text-align: center;
}
.center {
	max-width: 600px;
	text-align: center;
}
#gallery, #access, #concept, #menu {
	margin-top: 50px;
}

.menu_container {
	width: 90%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	flex: 1;
}
.menu_seperator{
	width: auto;
	text-align: center;
}
.menu_container.lunch, .menu_container.dinner, .menu_container.drinks{
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.4s ease-in;
}
.menu_container.lunch.collapse, .menu_container.dinner.collapse, .menu_container.drinks.collapse{
	max-height: 5000px;
}
#lunch_collapse:hover, #dinner_collapse:hover, #drinks_collapse:hover{
	cursor: pointer;
}
.menu_part{
	width: 30%;
	margin: 1em 0 0;
}
.menu_part_upgrade{
	width: 100%;
}
.menu_part_seperator{
	width: 100%;
	text-align: center;
	margin: 2em 0 0;
}
.menu_part table{
	width: 100%;
}
td.dish, td.price{
	padding: 0;
	vertical-align: top;
	line-height: 1.5;
}
td:not(.price){
	width: 83%;
}
.menu_container.dinner .menu_part.sushi td:not(.price), .menu_container.drinks .menu_part.drinks td:not(.price){
	width: auto;
}

td.price{
	text-align: right;
}

td.dish small, td.price small {
	font-size: 0.7em; 
	color: #776c60;
}

td b {
	color: #776c60;
	vertical-align: top;
	line-height: 1.5;
}

/* GALLERY START */
.video_container {
	max-width: 1200px;
	margin: 0 0 30px 0;
}
video {
  width: 100%;
  max-height: 100%;
}
.menu_container.gallery {
	align-items: flex-start;
}
.menu_container.gallery img {
	width: 32.5%;
	margin: 5px 0;
}
#img-2, #img-9 {
	width: 65%;
	align-self: center;
}

/* GALLERY END */

/* SCALE AND FADE EFFECT START */
.effect_content {
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}
.effect_content.shown {
	visibility: visible;
}
.effect_content *{
	transform: scale(0.7);
	opacity: 0;
	transition: all 0.3s;

}
.effect_content.shown * {
	transform: scale(1);
	opacity: 1;
}

/* SCALE AND FADE EFFECT END */

/* Gallery PopUp*/

.gallery_popup {
	position: fixed;
	top: 50%;
	width: 100%;
	max-width: 1200px;
	max-height: 700px;
	transform: translateY(-50%);
	z-index: 2;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
.gallery_popup div.previous, .gallery_popup div.next {
	font-size: 2em;
	flex: 1;
	font-weight: bold;
	/*width: 200px;*/
	text-align: center;
	align-self: center;
	cursor: pointer;
	transition: all 0.3s;
}
.gallery_popup div.previous span, .gallery_popup div.next span{
	display: block;
	width: 100%;
}
.clicked{
	font-size: 4em !important;
}
.gallery_popup img{
	width: 45%;
}

.grey_overlay{
	background-color: rgba(0,0,0, 0.6);
	position: absolute;
	top: 0;
	width: 100%;
	height: 3600px;
	z-index: 1;
}
/* GALLERY PopUp END */

/* ACCESS START*/
#ggl_map {
	max-width: 100%;
}
/* ACCESS END*/

/* CONCEPT START*/
.menu_container.concept{
	max-width: 600px;
	justify-content: center;
}
.menu_container.concept h2{
	margin-top: 0;
}
/* CONCEPT END*/

/* BLOG ENTRY START*/
.blog_entry {
	display: flex;
	flex-wrap: wrap;
	color: white;
	border-bottom: solid 1px #776c60;
	margin: 0 0 5px 0;
	width: 100%;
	align-items: flex-start;
}
.blog_entry.last {
	border-bottom: none;
	margin: 0;
}
.blog_entry img{
	width: 100%;
}
.blog_entry .created_date, .blog_entry .title {
	width: 100%;
	display: block;
}
.blog_entry .created_date {
	text-align: right;
}
.blog_entry .title {
	margin: 0;
}
/* BLOG ENTRY END */

/* DATENSCHUTZ START */
.menu_container.data a, .menu_container.impressum a, .left_footer a{
	text-decoration: none;
	color: #776c60;	
	filter: brightness(130%);
	cursor: pointer;
	transition: filter 0.3s ease;
}
.menu_container.data a:hover, .menu_container.impressum a:hover, .left_footer a:hover{
	text-decoration: none;
	color: #776c60;
	filter: none;
}
.menu_container.data p{
	width: 100%;
}
/* DATENSCHUTZ END */

/* IMPRESSUM START */

/* IMPRESSUM END */

/* DSGVO POPUP START */

/* DSGVO POPUP END */

footer{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	margin: 150px 0;
}
.left_footer, .right_footer {
	width: 50%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.left_footer span, .right_footer span {
	width: 100%;
}
.left_footer, .right_footer{
	margin: 1em 0 0 0;
	align-items: center;
}
.right_footer{
	text-align: right;
}
/*@media screen and (max-width: 1000px) {
	body {
		letter-spacing: 0.1em;
		font-size: 0.95em;
	}
	.less_spaced_letters{
		letter-spacing: 0.3em;
	}
	.spaced_letters{
		letter-spacing: 0.65em;
	}
	.upper_content, footer {
		margin: 100px 0;
	}
}*/
@media screen and (max-width: 900px) {
	/*body {
		letter-spacing: 0.15em;
		font-size: 1em;
	}
	.less_spaced_letters{
		letter-spacing: 0.4em;
	}
	.spaced_letters{
		letter-spacing: 0.8em;
	}
	.upper_content, footer {
		margin: 100px 0;
	}*/
	.menu_part {
		width: 45%;
	}
	.menu_part:nth-child(2), .menu_part:nth-child(3), .menu_part:nth-child(4), .menu_part:nth-child(5), .menu_part:nth-child(6), .menu_part:nth-child(7), .menu_part:nth-child(8), .menu_part:nth-child(9)  {
		margin: 3em 0 0 0;
	}
}
@media screen and (max-width: 700px) {
	body {
		letter-spacing: 0.15em;
		font-size: 0.9em;
		line-height: 1.8;
	}
	header{
		font-size: 1.1em;
	}
	.menu {
		font-size: 1.2em;
	}
	.upper_content, footer {
		margin: 50px 0;
	}
	.menu_container {
		justify-content: center;
	}
	.menu_part {
		width: 100%;
	}
	.menu_part:nth-child(n){
		margin: 3em 0 0 0;
	}
	.menu_container.lunch .menu_part:nth-child(6), .menu_container.dinner .menu_part:nth-child(8), .menu_container.drinks .menu_part:nth-child(8), .menu_container.drinks .menu_part:nth-child(13), .menu_container.drinks .menu_part:nth-child(17){
		margin: 1em 0 0 0;
	}
	.input{
		font-size: 1em;
	}
	.small{
		font-size: 0.9em;
	}
	.menu_container.gallery {
		justify-content: space-between;
	}
	.menu_container.gallery img {
		width: 49%;
	}
	#img-replace{
		width: 65%;
	}
}
@media screen and  (max-width: 535px){
	.menu_toggle:not(.next_row) {
		justify-content: center;
		max-height: 95px;
	}
	.menu_toggle:not(.next_row) .link.copper{
		width: 50%;
	}

	.left_footer, .right_footer {
		width: 100%;
	}
	.right_footer {
		text-align: left;
	}
}
@media screen and (max-width: 500px){
	/*body{
		padding: 25px;
	}*/
	header{
		font-size: 0.9em;
	}
	.menu {
		font-size: 1em;
	}
	h2 {
		margin: 0;
	}
	.menu_container{
		width: 100%;
	}
	.menu_container.gallery {
		justify-content: center;
	}
	.menu_container.gallery img {
		width: 80%;
	}
	#img-replace{
		width: 80%;
	}
}
@media screen and (max-width: 485px){
	h1.data{
		font-size: 5.5vw;
	}
}
@media screen and (max-width: 430px){
	h1.impressum{
		font-size: 7vw;
	}
}
@media screen and (max-width: 411px){
	.menu_toggle:not(.next_row){
		width: 69%;
	}
	a.link.special{
		min-width: unset;
		line-height: 1.7;
	}
}
@media screen and (max-width: 315px){
	.menu_toggle:not(.next_row) {
		justify-content: center;
		max-height: 190px;
	}
	a.link {
		width: 100%;
	}
	h1.spaced_letters{
		letter-spacing: 0.6em;
		margin-right: -0.6em !important;
		overflow-x: hidden;
	}
}
@media screen and (max-width: 300px){
	body {
		font-size: 0.8em;
	}
}